* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: Verdana;
}

p a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: aquamarine;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 30px;
  margin: 20px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2 {
  margin: 15px;
  font-weight: 300;
  font-size: 32;
}
